{% extends "base.html" %}

{% block title %}Slideshow control{% endblock %}

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js">
    </script>
    <script src="/static/control.js"></script>
{% endblock %}

{% block css %}
    <link href="/static/control.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}

<div id="container">
  <div id="config_panel" class="panel">
    <table class="leftcontrols">
      <tr>
        <td>
          <input id="showid" placeholder="Presentation ID" />
          <input id="password" placeholder="Password" />
          <input id="baseurl" placeholder="Base URL" />
        </td>
      </tr>
      <tr>
        <td id="message"></td>
      </tr>
    </table>
    <div class="rightcontrols">
      <a class="button" href="#" id="start"
      title="Create presentation">
        <i class="fa fa-play-circle fa-3x"></i>
      </a>
      <a class="button" href="#" id="delete"
      title="Delete presentation">
        <i class="fa fa-times-circle fa-3x"></i>
      </a>
      <a class="button" href="#" id="resume"
      title="Resume presentation">
        <i class="fa fa-repeat fa-3x"></i>
      </a>
      <a class="button" href="#" id="control"
      title="Control presentation">
        <i class="fa fa-gear fa-3x"></i>
      </a>
    </div>
  </div>
  <div id="navigation_panel" class="panel">
    <div class="leftcontrols">
      <input id="curslide" name="curslide" type="text" />
      <a class="button" href="#" id="sync">
        <i class="fa fa-play fa-3x"></i>
      </a>
      <span class="hspace"></span>
      <a class="button" href="#" id="first" title="First slide">
        <i class="fa fa-fast-backward fa-3x"></i>
      </a>
      <a class="button" href="#" id="b5" title="Move 5 previous">
        <i class="fa fa-backward fa-3x"></i>
      </a>
      <a class="button" href="#" id="b1" title="Previous slide">
        <i class="fa fa-step-backward fa-3x"></i>
      </a>
      <a class="button" href="#" id="f1" title="Next slide">
        <i class="fa fa-step-forward fa-3x"></i>
      </a>
      <a class="button" href="#" id="f5" title="Move 5 next">
        <i class="fa fa-forward fa-3x"></i>
      </a>
    </div>
    <div class="rightcontrols">
      <a class="button" href="#" id="config"
      title="Settings">
        <i class="fa fa-gear fa-3x"></i>
      </a>
    </div>
  </div>
</div>

{% endblock %}

