<!DOCTYPE html>
<html>
<head>
  <title>Presenter</title>
  <link rel="stylesheet" href="/static/common.css"></link>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>
    var slideshowID;
    var slideshowStartURL;

{% if settings.using_openshift %}
      var pollServer = "http://" + window.location.hostname + ":8000"
{% else %}
      var pollServer = ""
{% endif %}
  </script>
  <script src="/static/slideshow.js"></script>
</head>
	<frameset rows="225,100%">
    <frame src="/static/control.html" id="f_control">
    </frame>
    <frame src="/" id="f_show">
    </frame>
	</frameset>
</html>

