{% extends "base.html" %}

{% block scripts %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
  </script>
  <script>
{% if settings.using_openshift %}
      var pollServer = "http://" + window.location.hostname + ":8000"
{% else %}
      var pollServer = ""
{% endif %}
  </script>
  <script src="/static/slideshow.js"></script>

{% if mode != 'presenter' %}
<script>
controller.id = "{{id}}";
controller.base = "{{base}}";
controller.url = "{{url}}";
</script>
{% endif %}
{% endblock %}

{% block body %}
{% if mode == 'presenter' %}
{% set url = '/' %}
	<frameset rows="80px, 30px, 100%">
    <frame src="/static/control.html" id="f_control"
      scrolling="no"
      frameborder="no">
    </frame>
{% else %}
	<frameset rows="30px, 100%">
{% endif %}
    <frame src="/static/location.html"
      id="f_location"
      scrolling="no"
      frameborder="0">
    </frame>
    <frame src="{{url}}" id="f_show" frameborder="0">
    </frame>
	</frameset>
{% endblock %}

